In [1]:
import getdata
from datetime import datetime
import pandas as pd

In [2]:
top10 = getdata.get_top10()

In [3]:
HCI = getdata.HumanCapital(top10['code'].tolist())
HCI

country
India             0.440
Brazil            0.560
China             0.673
United States     0.762
France            0.765
Italy             0.769
United Kingdom    0.781
Germany           0.795
Canada            0.799
Japan             0.844
dtype: float64

In [4]:
GDP = getdata.GDP(top10['code'].tolist(), (datetime(2010,1,1), datetime.today()))
GDP

                date           GDP
country
France          2010  2.643626e+06
Japan           2010  5.714463e+06
Italy           2010  2.134263e+06
India           2010  1.575919e+06
United Kingdom  2010  2.475655e+06
...              ...           ...
France          2020  6.440068e+05
Italy           2020  4.689785e+05
United Kingdom  2020  7.053994e+05
United States   2020  5.384900e+06
Brazil          2020  4.145474e+05

[110 rows x 2 columns]

In [5]:
GDP.loc["Brazil",:]

         date           GDP
country
Brazil   2010  2.209999e+06
Brazil   2011  2.617311e+06
Brazil   2012  2.469653e+06
Brazil   2013  2.474524e+06
Brazil   2014  2.460008e+06
Brazil   2015  1.822047e+06
Brazil   2016  1.809129e+06
Brazil   2017  2.063106e+06
Brazil   2018  1.894048e+06
Brazil   2019  1.840034e+06
Brazil   2020  4.145474e+05

In [11]:
country  = getdata.get_top10()
country_code = country['code'].tolist()
country_name = list(country.index)

In [12]:
country_code

['CHN', 'USA', 'JPN', 'DEU', 'IND', 'GBR', 'FRA', 'ITA', 'CAN', 'BRA']

In [13]:
country_name

['China',
 'United States',
 'Japan',
 'Germany',
 'India',
 'United Kingdom',
 'France',
 'Italy',
 'Canada',
 'Brazil']

In [23]:
for name in country_name:
    print(GDP.loc[name,'date'].values)

['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']
['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']